/**/
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/*Cabecera*/

.Primera_nav{
    background: #05323C;
    padding: 1% 0 1% 0;
}
.contenedor-img{
    display: inline-block;
    padding: 0 0 0 10px;
}
ul img{
    width: 20px;
    height: auto;
}
.UL{
  padding-left: 90%;  
}

/**/
ul{
    list-style: none;
    padding: 0.5% 0% 0.5% 0%;
}
/**/
.Primera_nav{
    background: #05323C;
    padding: 1% 0 1% 0;
}
/**/
.container{
    width: 100%;
    height: 60px;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
/**/
.logo{
    width: 150px;
    margin: 0;
}
/**/
.logo img{
    width: 300%;
}
/**/
.item-options {
    color: #000000;
    text-decoration: none;
    padding: 12px 20px;
    font-family: Arial;
    display: inline-block;
    background-image: linear-gradient(#EEB00D, #EEB00D);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}
.item-options:hover,.item-options:focus{background-size: 100% 3px;}
nav .item-option{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/**/
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: rgb(66, 66, 66);
    display: inline-block;
    text-align: center;
}
/**/
.slider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 100%;
}
/**/
.slider li{
    width: 100%;
    list-style: none;
}
/**/
.slider img{
    width: 100%;
    height: 100%;
}
/**/
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/**/
.centrado{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    color: rgb(255, 255, 255); 
    
}
/**/
.tituloclubs{
    top: 50%;
    font-family: Arial;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: rgb(0, 0, 0);
}
/**/
.infotitulo{
    top: 50%;
    font-family: Arial;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: rgb(0, 0, 0);
}
/**/
.infotext{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}
/**/
.article{
    width: 95%;
    font-family: Arial;
}
/**/
.espacios{
    background: #05323C;
    
}
/**/
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
/*APARTADO DE CLUBS*/
body , html{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/art2.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #6cb13e;
    margin: 10px auto;
    border-radius: 5px;
}
.lineh{
    width: 350px;
    height: 4px;
    background: #6cb13e;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 10px;
}
.ctn{
    padding: 8px 15px;
    background: #05323C;
    border-radius: 30px;
    color: white;
}
section{
    width: 70%;
    margin: 10px auto;
}
.tittle{
    text-align: center;
    font-size: 4vmin;
    color: rgb(105, 102, 102);
    padding-bottom: 50px;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.row .col img{
    width: 207px;
    height: 200px;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 20px auto;
}
p{
    padding: 0px 40px;

}
.events .ctn{
    margin-top: 30px;
}
.containerV2{
    width: 100%;
    height: 100vh;
    background: #fafafa;
    padding: 50px 8%;
    position: relative;
    font-weight: 600;
}
.NAV{

    background-image: url(../img/circle.png);
    background-size: cover;
    background-position: right;
    padding: 10% 5% 15% 15%;
    position: absolute;
    left: -10%;
    top: -12%;
}
.logo{
    width: 60px;
    margin-bottom: 20px;
}
.roq{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -200% 0 0;
}
.col-1{
    max-width: 800px;
    padding-left: 5%;
    color: #333 ;

}
.col-1 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 5%;
    margin-top: 30%;
}
.profile-img{
    width: 80%;
    height: 92%;
    max-width: 450px;
    position: relative;
    z-index: 2;
    transition: transform 0.5s;
}
.col-2{
    text-align: right;
    position: relative;
    margin: 0 0 0 .5%;
}
.back-img{
    position: absolute;
    width: 80%;
    max-width: 450px;
    top: -12px;
    right: 15px;
}
.profile-img:hover{
    transform: translate(-25px, -25px);
    cursor: pointer;
}
/*Boton*/
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1{
    background-color: #05323C;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 30px;
}
.button1:hover{
    background-color: #05323C;
    transition-duration: 0.5s;
}
/**/
footer{
    background: #05323C;
    padding: 50px 0 50px 0;
}
footer p{
    text-align: center;
    color: #fff;
}
/**/